*{
    box-sizing: border-box;
}

body{
    font-family: 'Hahmlet', serif;
    background-color: #000;

    display: flex;
    /*To move downward if no space is left due t0 usage of flex property*/
    flex-wrap: wrap;

    margin: 0;
    padding-top: 3rem;
}

.add{
    background-color: yellowgreen;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.5rem 1rem;

    /*position : absolute can also be used*/
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.note{
    width: 300px;
    height: 300px;
    background-color: #f4f4f4;
    border-radius: 0 0 30px 0;
    margin: 30px 20px;

    overflow: hidden;
}

.note .tools{
    background-color: yellowgreen;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.note .tools button:focus{
    outline: 0;
}

.note textarea{
    width: 100%;
    height: inherit;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
}

.note textarea:focus{
    outline: 0;
}

.main{
    padding: 20px;
}

.hidden{
    display: none;
}