@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: 'Mulish', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.btnripple {
    background-color: royalblue;
    color: #fff;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 30px;
    border: 1px solid royalblue;
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}

.btnripple .circle {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation-name: myscale;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.circle1 {
    width: 100px;
    height: 100px;
    background-color: cyan;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation-name: myscale1;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}

.btnripple:focus {
    outline: 0;
}

@keyframes myscale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

@keyframes myscale1 {
    to {
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}